:root {
  --color1: #ffffff;
  --color2: #212429;
  --color3: #d8dbe2;
  --colorgrad1: #ced1d6;
  --colorgrad2: #e8eaec;
  --colorgrad3: #343941;
  --cardsgap: 64px;
  font-family: "Montserrat";
}

body {
  color: var(--color2);
  margin: 0;
  width: 100%;
}

.navBar {
  background-color: var(--color1);
  border-bottom-color: var(--color2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  position: sticky;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: calc(100% -32px);
  z-index: 1;
}
.navBar a {
  align-items: center;
  color: var(--color2);
  display: flex;
  justify-content: center;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
.categories a:hover {
  text-decoration: underline;
}

.menuButton,
.mainButtons-1,
.categories {
  align-items: center;
  display: flex;
  justify-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  z-index: 2;
}

.menuButton img:hover,
.mainButtons-1 img:hover {
  animation: flip-diagonal-1-fwd 0.9s cubic-bezier(0.455, 0.05, 0.55, 0.95) both;
  background-image: radial-gradient(
    var(--colorgrad1),
    var(--colorgrad2),
    var(--color1)
  );
}

.menuButton:active,
.mainButtons-1:active,
.categories a:active {
  transform: scale(0.9);
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 32px;
  padding-right: 32px;
}
.mainButtons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 16px;
  margin-top: 16px;
  width: 20%;
  z-index: 2;
}

h1 {
  font-size: 32;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 32px;
  padding-left: 32px;
}
h1::first-letter {
  font-size: 120%;
}

.cardsContainer {
  display: grid;
  gap: var(--cardsgap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 128px;
  margin-right: 128px;
  /* background-color: #212429;*/
  padding: 32px;
  width: 1280px;
}
.card1 .productName span,
.card1 .productPrice span {
  font-size: 14px;
}

.card1 {
  background-color: var(--color1);
  border-radius: 5%;
  position: relative;
  transition: all 1.35 ease-in-out;
}
.card1:active {
  transform: scale(0.97);
}
.card1:hover {
  background-image: linear-gradient(var(--color1) 90%, var(--color3));
  box-shadow: 3px 3px 3px #888;
}
.cardImg {
  width: 100%;
}
.cardImg img {
  border-radius: 5%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.productName {
  float: left;
  margin-bottom: 3%;
  margin-left: 5%;
  width: 70%;
  margin-top: 8px;
}
.productPrice {
  float: left;
  font-weight: 600;
  margin-bottom: 3%;
  margin-right: 5%;
  width: 20%;
  margin-top: 8px;
}

footer {
  background-color: var(--color2);
  color: var(--color1);
  display: flex;
  font-size: 16;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 16px;
  padding-right: 8px;
  padding-top: 16px;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
  top: 16px;
}
footer div {
  align-items: center;
  margin: auto;
  padding: auto;
  position: relative;
  vertical-align: middle;
}

.footer-2 {
  display: flex;
  gap: 8px;
  /* overflow: hidden; */
}
.footer-2b {
  display: flex;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--color1);
  align-items: center;
  justify-items: center;
}
.footer-1:hover {
  text-decoration: underline;
}

.footer-2 img:hover {
  animation: flip-diagonal-1-fwd 0.9s cubic-bezier(0.455, 0.05, 0.55, 0.95) both;
}
@keyframes flip-diagonal-1-fwd {
  0% {
    transform: translateZ(0) rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: translateZ(160px) rotate3d(1, 1, 0, 360deg);
  }
}

.footer-1:active {
  transform: scale(0.9);
}
